* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Mobile responsiveness */
@media screen and (max-width: 992px) {
  .ant-layout-sider {
    position: fixed !important;
    z-index: 999;
    height: 100vh;
  }

  .site-layout {
    margin-left: 0 !important;
    transition: all 0.2s;
  }

  .ant-layout-content {
    margin: 16px 8px !important;
    padding: 16px !important;
  }
}
